# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The Auro team will be the default owners for everything in the repo.
*       @AlaskaAirlines/auro-team

# Order is important. The last matching pattern has the most precedence.
# If a pull request touches any files in the ./src dir, only these owners
# will be requested to review.
./src/*    @blackfalcon @jason-capsule42
